{% extends "base.html" %}
{% load static %}


{% block content %}

<mid class="mid">
    <div class="heading-1">
      <h1>Welcome to my Book Blog </h1>
      <p>
        who is your favourite author? 
        <br>
        Why don't you write about your favourite auther here and
        recommend other's know what they can read.
        <br> <br> 
        Submit your Email to get in waiting 
                list. 
    </p>
        <form action="">
            <label for="">Email </label>
            <input type="text">
            <button>Submit</button>
        </form>
    </div>

    
    <div class = "heading-2">
      
      <img 
      src="{% static 'img/shoper.jpg' %}"
   
       
       alt="">
    </div>
   </mid>


{% endblock %}