{% extends "base.html" %}
{% load static %}


{% block content %}

<mid class="mid">
    <div class="heading-1">
      <h1>Bring your Business Online with CityBizz</h1>
      <p>
       Do you own a Physical Shop or Business?
        <br> <br>
        we can help you setting up your business online 
        and give tools which can help you increase your sales 
        and revenue. 
        <br> <br> 
        Submit your Email to get in waiting 
                list. 
    </p>
        <form action="">
            <label for="">Email </label>
            <input type="text">
            <button>Submit</button>
        </form>
    </div>

    
    <div class = "heading-2">
      
      <img 
      src="{% static 'img/shoper.jpg' %}"
   
       
       alt="">
    </div>
   </mid>

<center>
   <div class="heading-3">
    <h1>Bring Your Business Online Today</h1>
    <p>
      With our new tools, we are converting every buisness 
      to an ecommerce business. 
      <br>
      List your product online on our marketplace and let people
      search it on web and buy at the same time.
      
  </p>
      
  <div class="images" >
    

    <img class="img1"
    src="{% static 'img/shop-2.jpg' %}" width="30%"
     alt="">

     <img class="img2"
    src="{% static 'img/shop-3.jpg' %}" width="30%"
     alt="">

     <img class="img3"
    src="{% static 'img/shop-4.jpg' %}" width="30%"
     alt="">
  </div>
  </div>
</center>


{% endblock %}