{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/base.css'  %}">
    
</head>
<body>
    <top>
        <icon class="icon">
        <h1> CityBizz.io</h1>
        </icon>
        <div class="top-li">
            <a href="">home</a>
            <a href="">deals</a>
            <a href="">pricing</a>
            <a href="">what citybizz does</a>
            <button>
                Start free trial
            </button>
     </div>
    
   </top>
      
      {% block content %}
    
      {% endblock %}
      <footer class="footer">
       <div class="line-1">
           <li><a href="">sell online</a></li>
           <li><a href="">example</a></li>
           <li><a href="">online retail</a></li>
       </div>
       <div class="line-2"><li><a href="">point of sale</a></li>
        <li><a href="">24/7 support</a></li>
        <li><a href="">write for us</a></li></a></div>

       <div class="line-3">
        <li>
            <a href="">Ecommerce</a>
        </li>
        <li>
            <a href="">Deals</a>
        </li>
        <li>
            <a href="">tools</a>
        </li></a></div>
       <div class="line-4"><li><a href="">CRM</a></li>
        <li><a href="">Marketing</a></li>
        <li><a href="">online traffic</a></li></a>
        </div>

        
      </footer>

      <end>
        <div class="copy">
            <p>All Rights Reserved &copy 2020, www.CityBizz.io</p>
        </div>
      </end>
    
   
</body>
</html>